<template>
  <div class="wrapper">
    <!-- ログイン中に表示される画面 -->
    <div v-if="isAuthenticated">
      <p class="login-text">
        <span class="address">{{ user.email }}</span>
        でログイン中です。
      </p>
      <button v-on:click="logout" class="button">ログアウト</button>
      <br />
      <nuxt-link to="/member-page">メンバーページへ</nuxt-link>
      <nuxt-link to="/">トップへ</nuxt-link>
    </div>

    <!-- ログインしていない時に表示される画面 -->
    <div v-else>
      メール
      <br />
      <input v-model="email" type="text" class="input-address" />
      <br />パスワード
      <br />
      <input v-model="password" type="password" class="input-pass" />
      <div>
        <button @click="googleLogin" class="google">Googleでログイン</button>
      </div>
      <button v-on:click="login" class="login-button">ログイン</button>
      <p>
        <nuxt-link to="/member-page">メンバーページへ</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import firebase from '~/plugins/firebase'

export default {
  data() {
    return {
      email: '',
      password: ''
    }
  },
  computed: {
    // mapState({ user: this.$store.state.user })と一緒
    ...mapState(['user']),

    // ユーザーがいればtrueを返すやつ
    ...mapGetters(['isAuthenticated'])
  },
  mounted() {
    this.$nextTick(function() {
      // オブザーバーをアタッチする。ユーザーの情報を得る。
      firebase.auth().onAuthStateChanged((user) => {
        // Vuexのstateにユーザー情報をセットする
        this.setUser(user)
      })
    })
  },
  methods: {
    ...mapActions(['setUser']),
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.email, this.password)
        .then((user) => {
          // ログインしたら飛ぶページを指定
          this.$router.push('/member-page')
        })
        .catch((error) => {
          alert(error)
        })
    },
    logout() {
      localStorage.clear()
      firebase
        .auth()
        .signOut()
        .then(() => {
          // stateのユーザーを空にする
          this.setUser(null)
        })
        .catch((error) => {
          alert(error)
        })
    },
    googleLogin() {
      const provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithRedirect(provider)
    }
  }
}
</script>

<style scoped>
[v-cloak] {
  display: none;
}

.wrapper {
  padding: 30px;
}

.login-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.address {
  font-weight: bold;
}

.button {
  margin-bottom: 30px;
}

.input-pass,
.input-address {
  margin-bottom: 10px;
}

.login-button {
  margin-top: 20px;
}

.google {
  margin: 15px 0;
}
</style>
