<template>
  <div class="container">
    <div>
      メール
      <br />
      <input v-model="email" type="text" class="input-address" />
      <br />パスワード
      <br />
      <input v-model="password" type="password" class="input-pass" />
      <br />
      <button v-on:click="signin" class="login-button">サインイン</button>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import firebase from '~/plugins/firebase'

export default {
  data() {
    return {
      email: '',
      password: ''
    }
  },
  computed: {
    ...mapState(['user'])
  },
  mounted() {
    this.$nextTick(function() {
      console.log('hoge')
    })
  },
  methods: {
    signin() {
      firebase
        .auth()
        .createUserWithEmailAndPassword(this.email, this.password)
        .then((user) => {
          // サインインしたら飛ぶページを指定
          this.$router.push('/member-page')
        })
        .catch(function(error) {
          alert(error)
        })
    }
  }
}
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
