<template>
  <members-only>
    <h1 class="title">ログインしたら見れるページ</h1>
    <a href="/account">アカウントページへ</a>
  </members-only>
</template>

<script>
import MembersOnly from '~/components/members-only.vue'

export default {
  middleware: 'authenticated',
  components: {
    MembersOnly
  }
}
</script>

<style scoped>
.title {
  font-size: 20px;
  margin-bottom: 15px;
}
</style>
