<template>
  <div class="container">
    <div>
      <p>ログインしていません。</p>
      <nuxt-link to="/">トップへ戻る</nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  components: {},
  computed: {
    ...mapState(['user'])
  },
  mounted() {
    this.$nextTick(function() {
      console.log('hoge')
    })
  }
}
</script>

<style scoped>
.container {
  padding: 30px;
}
</style>
